In [4]:
import pandas as pd

In [5]:
s = pd.Series([9904312, 3448737, 2890451, 2466052], index=["서울", "부산", "인천", "대구"])
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [6]:
pd.Series(range(10, 14))

0    10
1    11
2    12
3    13
dtype: int32

In [7]:
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [8]:
s.values

array([9904312, 3448737, 2890451, 2466052], dtype=int64)

In [9]:
s / 1000000

서울    9.904312
부산    3.448737
인천    2.890451
대구    2.466052
dtype: float64

In [10]:
s.name = "인구"
s.index.name = "도시"
s

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

In [11]:
s / 1000000

도시
서울    9.904312
부산    3.448737
인천    2.890451
대구    2.466052
Name: 인구, dtype: float64

In [12]:
s[1], s["부산"]

(3448737, 3448737)

In [13]:
s[3], s["대구"]

(2466052, 2466052)

In [14]:
s[[0, 3, 1]]

도시
서울    9904312
대구    2466052
부산    3448737
Name: 인구, dtype: int64

In [15]:
s[["서울", "대구", "부산"]]

도시
서울    9904312
대구    2466052
부산    3448737
Name: 인구, dtype: int64

In [16]:
s[(250e4 < s) & (s < 500e4)]

도시
부산    3448737
인천    2890451
Name: 인구, dtype: int64

In [17]:
s[1:3]

도시
부산    3448737
인천    2890451
Name: 인구, dtype: int64

In [18]:
s["부산":"대구"]

도시
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

In [19]:
s0 = pd.Series(range(3), index=["a", "b", "c"])
s0

a    0
b    1
c    2
dtype: int32

In [20]:
s0.a

0

In [21]:
s0.b

1

In [22]:
"서울" in s

True

In [23]:
"대전" in s

False